<ion-header>
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-menu-button menu="main-menu">
        <!-- <app-menu></app-menu> -->
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div #map class="map">
      
  </div> 
  <!-- <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="ubicacion"></ion-searchbar> -->
  <ion-chip class="miubicacion" (click)="myLocation()">
      <ion-label class="normal">Mi ubicación actual</ion-label>
      <ion-icon name="locate"></ion-icon>
  </ion-chip>
  <ion-chip class="aceptar" (click)="aceptar()">
    <ion-label class="normal">Aceptar</ion-label>
    <ion-icon name="checkmark" ></ion-icon>
  </ion-chip>
  
  
  
  <!-- <div id="map">
    
  </div>
  
  <form id="form">
      <h3 class="regular">Dirección</h3>
      <app-input placeholder="Ingresa dirección"></app-input>
      <h3 class="regular">Destino(Opcional)</h3>
      <app-input placeholder="Ingresa la dirección de destino"></app-input>
      <app-button texto="Solicitar taxi"></app-button>
    </form> -->
</ion-content>
  

  <!-- <ion-item  class="ion-margin-bottom" lines="none">
    <ion-label position="floating">Dirección</ion-label>
    <ion-input color="ion-color-secondary-rgb"></ion-input>
  </ion-item>
  <ion-item color="ion-color-secondary-rgb" class="ion-margin-bottom" lines="none">
    <ion-label position="floating">Ingresa el destino(Opcional)</ion-label>
    <ion-input></ion-input>
  </ion-item> -->