<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/principal" color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/logotipo-travel.png" />
    <ion-icon name="person-circle-outline"></ion-icon>
  </div>

  <form id="form">
    <ion-list>

      <ion-item>
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <ion-label class="ion-text-wrap">Nombre <br> <h2>Camilo Gomez</h2></ion-label>
        <ion-icon id="pencil" slot="end" name="pencil-sharp"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="mail-sharp"></ion-icon>
        <ion-label class="ion-text-wrap">Correo <br> <h2>Camilo72@gmail.com</h2></ion-label>
        <ion-icon id="pencil" slot="end" name="pencil-sharp"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="call-sharp"></ion-icon>
        <ion-label class="ion-text-wrap">Telefono <br> <h2>+57 312 400 5971</h2></ion-label>
        <ion-icon id="pencil" slot="end" name="pencil-sharp"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
        <h2>Cambiar contraseña</h2>
        <ion-icon id="pencil" slot="end" name="pencil-sharp"></ion-icon>
      </ion-item>
      
    </ion-list>
  </form>  
</ion-content>


