ion-toolbar{
    --background: #ffffff;

    ion-button{
        text-transform:initial;
        font-size:17px;
    }
}
ion-content{
    --background: #ffffff;
    #header{
        display:flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-weight: 700;
            font-size: 36px;
            color: #2f2e41;
            margin-top: 10%;
        }
        img {
            width: 340px;
            height: 118px;
            border: 0;
            margin-top: 15%;
        }
    }
    #form{
        margin-top:16%;
        padding-left: 30px;
        padding-right: 30px;

        h3{
            font-weight: 500;
            font-size: 18px;
            // margin-top:15%;
        }
        ion-label{
            font-size: 15px;
        }
    }
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form {
	margin-top: 30px;

	ion-list {
		padding-bottom: 8px;
	}

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: .95rem;
		margin-bottom: 30px;
	}

}

.btn_eye_icon{
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
    padding: 10px;
}